body  {
    text-align: center;
}

#box1 {
    display:  box;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
    background: orange; 
    border-radius: 20px;
    box-shadow: rgb(110, 110, 110) 8px 8px 8px inset;  
    /* RGB, offset to left and right, offset up and down, amountof gradient, optional layout */
}

#box2 {
    display:  box;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
    /* background: -webkit-linear-gradient(top, black, white) ; */
    /* background: -webkit-linear-gradient(45deg, black, white); */ 
    background: -webkit-radial-gradient(center, ellipse, red 0%, orange) ;
    border-radius: 20px;
    box-shadow: rgb(110, 110, 110) 8px 8px 8px ;  
    /* RGB, offset to left and right, offset up and down, amountof gradient, optional layout */
}

#box3 {
    display:  box;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
    /* background: -webkit-linear-gradient(top, black, white) ; */
    /* background: -webkit-linear-gradient(45deg, black, white); */ 
    background: -webkit-radial-gradient(center, circle, red 0%, orange) ;
    border-radius: 20px;
    box-shadow: rgba(110, 110, 110, 0.6) 8px 8px 8px ;  /* the less the alpha value the lighter the shadow will be */ 
    /* RGB, offset to left and right, offset up and down, amountof gradient, optional layout */
}

#text{
    font: bold 30px Century Gothic;
    text-shadow: rgb(110, 110, 110) 3px 3px 5px ;
}

